<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="onEditCourses()">Edit Courses</button>

<div class="courses" #container>

    <!-- <course-card 
            (courseSelected)="onCourseSelected($event)" 
            [course]="courses[0]" 
    />
    <course-card #card2
            (courseSelected)="onCourseSelected($event)" 
            [course]="courses[1]" 
    />
    <course-card  #card3
            (courseSelected)="onCourseSelected($event)" 
            [course]="courses[2]" 
    /> -->

    <course-card *ngFor="let course of courses;"
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" 
    />

</div>


