<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="courses">

    <course-card 
            *ngFor="let course of courses; index as i; first as f; last as l; odd as o; even as e"
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" 
            [Index]="i+1"
            [class.is-first]="f"
            [class.is-last]="l"
            [class.is-odd]="o"
            [class.is-even]="e"
    />

    <!-- @for (course of courses; 
            track course.id; 
            let Index=$index; 
            let first=$first;
            let last=$last;
            let odd=$odd;
            let even=$even;
    ) { -->
        <!-- <h1>{{$count}}</h1> no need to initialize you can direct use also -->
        <!-- <course-card 
            (courseSelected)="onCourseSelected($event)" 
            [course]="course" 
            [Index]="Index"
        />
    }
    @empty {
        <h1>No Courses Fround!</h1>
    } -->

</div>


