<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="variables">Variables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-bindings">Data Bindings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="directives">Directives</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="apiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            API Call & Forms
          </a>
          <ul class="dropdown-menu" aria-labelledby="apiDropdown">
            <li><a class="dropdown-item" routerLink="template-form">Template Form</a></li>
            <li><a class="dropdown-item" routerLink="api-call-integration">API Call</a></li>
            <li><a class="dropdown-item" routerLink="user">UserAPI (template form)</a></li>
            <li><a class="dropdown-item" routerLink="user-reactive-form">UserAPI (reactive form)</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="resource-api">Resource API</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>